@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Verdana, sans-serif;
  background-color: #ffffff;
  color: #000000;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer components {
  /* Navigation bubbles */
  .short {
    @apply w-[30px] h-[30px] rounded-full bg-gray-500 flex items-center justify-center font-semibold text-[14px] text-white cursor-pointer hover:bg-black transition duration-150 m-1 !important;
  }
  
  .short.state-visited {
    @apply bg-red-600 !important;
  }
  
  .short.state-answered {
    @apply bg-green-600 !important;
  }
  
  .short.state-review {
    @apply bg-purple-600 !important;
  }

  /* Candidate choices lists options */
  .mcq-options-list li {
    @apply w-full px-4 py-2 border-b border-gray-300 hover:bg-[#90bc85] text-black text-[20px] cursor-pointer transition duration-150 flex items-center gap-3 !important;
  }

  .mcq-options-list li.selectedOption {
    @apply bg-green-200 border-green-500 font-semibold !important;
  }
}

